body {
  text-align: center;
  font-size: 25px;
}

header {
  border: 1px #008000 solid;
  width: 800px;
  height: 200px;
}

main {
  display: flex;
}

nav {
  border: 1px green solid;
  width: 100px;
  height: 400px;
}

section {
  border: 1px green solid;
  width: 700px;
  height: 400px;
}

footer {
  border: 1px #008000 solid;
  width: 800px;
  height: 200px;
}
