@font-face {
  font-family: dev;
  src: url(digitalDisplay.ttf);
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.stopwatch {
  margin-bottom: 50px;
}
.stopwatch__container {
  display: inline-block;
  background: #000;
  border: #000 solid 15px;
  border-radius: 10px;
}
.stopwatch__display {
  width: 280px;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 45px;
  font-family: dev;
}
.display__nums span {
  display: block;
  width: 20%;
  text-shadow: 3px 4px 5px rgb(0 0 0);
}
.display__frame {
  padding: 30px 0 15px 0;
  border: 5px solid #e6e6e6;
}
.display__names {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.display__names span {
  font-size: 16px;
  text-shadow: 6px 4px 7px rgb(0 0 0);
}
.display__nums {
  display: flex;
  justify-content: center;
}
.display__icons {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.display__icons img {
  width: 20px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.9));
}
.invisible {
  opacity: 0.2;
  transition: all 0.5s ease-in-out;
}
.default {
  background-color: #5f7b59;
  box-shadow: inset 0px 0px 30px 15px  #50684b;
}
.red {
  background-color: #ff1a1a;
  box-shadow: inset 0px 0px 30px 15px  #8f0000;
  transition: all 0.2s ease-in-out;
}
.green {
  background-color: #00cc44;
  box-shadow: inset 0px 0px 30px 15px #006622;
  transition: all 0.2s ease-in-out;
}
.gray {
  background-color: #c2c2a3;
  box-shadow:  inset 0px 0px 30px 15px  #646453;
  transition: all 0.2s ease-in-out;
}
.stopwatch__buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px 0 0 0;
}
.stopwatch__buttons button {
  border: 2.5px solid #fff;
  border-radius: 60px;
  padding: 10px;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.phone-check__container {
  display: flex;
  width: max-content;
  border: 2px solid #000;
  border-radius: 30px;
  overflow: hidden;
}
.valid {
  background-color: #2eb82e;
  transition: all .5s ease-in-out;
}
.invalid{
  background-color: #ff1a1a;
  transition: all .5s ease-in-out;
}

.phone-check__input input{
  text-align: center;
  font-size: 20px;
  border: none;
  background: none;
  outline: none; 
  padding: 15px;
}
.phone-check__button{
  background-color: #fff;
  border-radius: 25px;
  border-left: #000 2px solid;
  padding: 15px;
}
.phone-check__button button{
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}


.slider__container {
  display: flex;
  width: 50%;
  margin: 0 auto;
}
.slider__frame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 575px;
  animation: color-change-5x 4.5s linear infinite alternate both;
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
.slider__window {
  width: 736px;
  overflow: hidden;
}
.slider__line {
  display: flex;
  position: relative;
  width: 3680px;
  height: 550px;
  left: 0;
	transition: all 1.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.slider__line img{
  width: 736px;
}
.slider__buttons {
  display: flex;
  justify-content: space-around;
}
.slider__buttons button{
  outline: none;
  background: none;
  cursor: pointer;
}