.mouse {
  height: 400px;
  background: aquamarine;
  cursor: crosshair;
  border: 1px solid black;
}

.info {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.info > input {
  width: 5%;
}

.buttons > button {
  padding: 10px;
  margin: 15px 10px;
}

.sliding-container {
  border: 1.5px solid black;
  margin: 20px 0;
  width: 100%;
  border-radius: 50px;
}

.sliding-div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  transition: all 1.5s ease-in;
  animation: color-change-5x 8s linear infinite alternate both;
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

.color-picker {
  margin: 20px 0;
}

.login{
    margin: 20px 0;
}

.text-area {
  display: flex;
}

.text-area textarea {
  width: 15%;
  font-size: 18px;
  resize: none;
}
.container {
  font-size: 19px;
  font-family: "Marck Script", cursive;
  line-height: 30px;
  border: 1px solid black;
  word-wrap: break-word;
  width: 75%;
  margin: 0 15px;
}
